.Home {
  max-width: 428px;
  height: 100vh;
  margin: 0 auto;
  background-color: #fff;
}
.owner_name {
  height: 60px;
  font-size: 20px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  margin-bottom: 20px;
}
.store {
  height: 105px;
  width: 85%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #eee;
  border-radius: 10px;
  margin-bottom: 15px;
}
