.MenuManage {
  background-color: #eee;
}
.category_title {
  height: 60px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  font-size: 18px;
  border-bottom: 1px solid #eee;
  background-color: #fff;
}

.rep_img {
  height: 225px;
  background-color: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rep_img > img {
  width: 60px;
  opacity: 0.25;
}
.group_bar {
  display: flex;
  align-items: center;
  white-space: nowrap;
  overflow-x: scroll;
  padding: 0 10px;
  margin-bottom: 10px;
  height: 48px;
  background-color: #fff;
}
.group_bar::-webkit-scrollbar {
  display: none;
}
.group_item {
  display: inline-block;
  background-color: #fff;
  height: 100%;
  padding: 12px;
}
.group_item:first-child {
  border-bottom: 2px solid #f5d536;
  font-weight: bold;
}
.group_list {
  margin-bottom: 10px;
}
.group_title {
  height: 48px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  border-bottom: 1px solid #eee;
  background-color: #fff;
}
