.MenuManage {
  background-color: #eee;
}
.rep_title {
  height: 60px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  font-size: 18px;
  border-bottom: 1px solid #eee;
  background-color: #fff;
}

.rep_img {
  height: 225px;
  background-color: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rep_img > img {
  width: 60px;
  opacity: 0.25;
}
.category_title {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 0 15px;
  border-bottom: 1px solid #bbb;
}
.category_title > h4 {
  width: 40%;
}
.category_title .add_category {
  width: 60%;
}
.category_bar {
  display: flex;
  align-items: center;
  white-space: nowrap;
  overflow-x: scroll;
  padding: 0 10px;
  margin-bottom: 10px;
  height: 48px;
  background-color: #fff;
}
.category_bar::-webkit-scrollbar {
  display: none;
}
.category_item {
  display: inline-block;
  background-color: #fff;
  height: 100%;
  padding: 12px;
}
.category_item:first-child {
  border-bottom: 2px solid #f5d536;
  font-weight: bold;
}

.category_contater {
  margin-bottom: 10px;
}
.category_list_title {
  height: 60px;
  background-color: #fff;
  display: flex;
  align-items: center;
  padding-left: 15px;
  border-bottom: 1px solid #bbb;
}
.category_name {
  height: 60px;
  background-color: #fff;
  padding-left: 15px;
  display: flex;
  align-items: center;
  font-weight: bold;
  border-bottom: 1px solid #eee;
}
